* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    background: black;
}

#navbar {
    width: 15%;
    background: orange;

}

#main-video {
    width: 60;
    background: pink;    
    
}

#side-videos {
    width: 25%;
    background: gray;
    
}